<footer style="background-color:#222; margin-top:20px; padding-top:30px; padding-bottom:20px;">
    <div class="container" data-ng-controller="FooterController">
        <div class="row">
            <!-- Map  -->
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>Vapor Mo&apos;s</b>
                        <br/>
                        2020 W Monte Vista Ave
                        <br/>
                        Turlock, CA 95382
                    </li>
                    <li class="list-group-item text-center">
                        <a href="https://www.google.com/maps/place/2020+W+Monte+Vista+Ave,+Turlock,+CA+95382/@37.5217888,-120.8747733,17z/data=!3m1!4b1!4m5!3m4!1s0x8091076ab5a06e01:0x8d027683c6b3740!8m2!3d37.5217888!4d-120.8725846">
                            Click Here for Directions:
                            <img width="220px" alt="google maps image" src="img/google_maps_300x200.png" />
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="tel:{{telephone}}">
                            <i class="fa fa-phone"></i> Call Us
                        </a> 
                    </li>
                </ul>
            </div>            

            <!-- Meta Data -->
            <div class="col-md-4 col-md-push-4">
                <ul class="list-group" style="min-height:345px;">
                    <li class="list-group-item">
                        <b>Store Hours:</b>
                    </li>
                    <li class="list-group-item">
                        <table class="width100">
                            <tr>
                                <th>
                                    Mon
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    9:00 pm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Tue
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    9:00 pm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Wed
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    9:00 pm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Thu
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    9:00 pm
                                </td>
                            </tr> 
                            <tr>
                                <th>
                                    Fri
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    11:00 pm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Sat
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    11:00 pm
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Sun
                                </th>
                                <td>
                                    10:00 am
                                </td>
                                <td>
                                    5:00 pm
                                </td>
                            </tr>
                        </table>
                        <br/>
                    </li>
                    <li class="list-group-item">
                        <a href="tel:{{telephone}}">
                            <i class="fa fa-phone"></i> Call Us
                        </a> 
                    </li>
                    <li class="list-group-item">
                        <a href="mailto:vapormos@gmail.com">
                            <i class="fa fa-envelope"></i> Email Us
                        </a>
                    </li>                        
                </ul>
            </div>

            <!-- Logo -->
            <div class="col-md-4 col-md-pull-4 text-center">
                <a href="#/">
                    <img width="200px;" class="center" alt="vapor mo's logo" src="img/circle_logo_200x200.png" />
                </a>
                <br/>
                <br/>
                <h4 class="White">
                    {{host}} &copy; {{year}} 
                </h4>
                <br/>
                <div class="White">
                    <a href="#/termsandconditions">
                    Terms &amp; Conditions
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>