body {
    /*
        IMPORTANT: this top padding makes space for the top sticky menu/nav
    */
    padding-top:71px;
    

    /*
    background-color: #0B1B2B !important;
    */


    /*
    background-image: url('../img/bg/dark_embroidery/dark_embroidery.png');
    */
    background-image: url('../img/bg/dark_fish_skin/dark_fish_skin.png');
}

.page-logo{
    display:block;
    width:200px;
    margin:0 auto;
    margin-bottom:20px;
}
